# Supabase
NEXT_PUBLIC_SUPABASE_URL=tu_url_de_supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu_anon_key_de_supabase

# MercadoPago
MP_ACCESS_TOKEN=tu_access_token_de_mp

# URL base (Vercel la setea automáticamente)
NEXT_PUBLIC_URL=http://localhost:3000