# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://scfcoulpsxuccsezoaww.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNjZmNvdWxwc3h1Y2NzZXpvb3d3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0NjAxMzIsImV4cCI6MjA5NjAzNjEzMn0.8Y7oGyT2FeQNu0ynIWhqSfJ5-HP-HE1npF2Q014n6HU

# MercadoPago
MP_ACCESS_TOKEN=APP_USR-6930232452257266-071213-1739dcd706f47d2cc2c3577b37f9acd6-3535802059

# URL base (Vercel la setea automáticamente, cambiar para prod)
NEXT_PUBLIC_URL=https://inmersivapp.vercel.app